@import '../../../utils/breakpointsMixins.scss';

.info {
  display: none;
  position: absolute;
  top: 0;
  left: 16px;
  padding: 20px;
  width: calc(100vw - 32px);

  border-radius: 10px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  background-color: var(--color-yellow-hero);
  z-index: var(--z-index-disclosure);
  box-sizing: border-box;

  @include desktop {
    left: 0;
    margin: 0;
    width: 100%;
  }

  &.show-info {
    display: block;
  }

  .info-title {
    margin: 0 0 0 16px;

    font-size: 24px;
  }

  .info-label {
    cursor: auto;
  }

  .close-icon {
    float: right;
    cursor: pointer;
  }

  .flex-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 20px 0 18px;
  }
}
