@import '../../../utils/breakpointsMixins.scss';

.for-you-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0;
  width: 100%;

  border-bottom: 1px solid var(--color-grey);

  .flex-wrapper {
    display: flex;
    align-items: center;
  }

  .project-icon {
    margin-right: 10px;
    width: 30px;
    height: 30px;
  }

  .project-name {
    margin: 0 0 2px;
    font-size: 0.75rem;
    font-weight: 500;
  }

  .buttons-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 0 6px;
    max-width: 190px;
    width: 100%;

    .check-stats-btn {
      all: unset;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 7px 10px;
      max-width: 80px;
      width: 100%;

      background-color: var(--color-blue);
      border-radius: 5px;
      color: var(--color-white);
      font-size: 12px;
      line-height: 14px;
      font-weight: 500;
      cursor: pointer;

      img {
        margin-right: 4px;
      }
    }

    .check-stats-btn.remove {
      margin: 0 6px 0 0;

      background-color: var(--color-sand);
      color: var(--color-grey-text);

      .loader-wrapper-list-item {
        .loader-wrapper .loader {
          width: 16px;
          height: 16px;
        }
      }
    }
    .check-stats-btn.remove.add-to-list {
      justify-self: flex-end;

      @include desktop {
        max-width: 107px;
      }
    }
  }
  .buttons-wrapper.add-to-list {
    justify-content: flex-end;
  }
}

// .for-you-list-item.checking {
//   background-color: var(--color-grey);
//   width: 100%;
// }
