.AllFeaturesBlock {
  padding: 2.875rem 1rem;

  &__content {
    display: flex;
    flex-direction: column;

    @media (min-width: 1024px) {
      justify-content: space-between;
      flex-direction: row;
      padding: 0 1rem;
      max-width: 1024px;
      margin: 0 auto;
    }
  }

  &__title {
    margin-bottom: 1.25rem;

    @media (min-width: 1024px) {
      margin-bottom: 2.5rem;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem;
    width: 100%;

    @media (min-width: 1024px) {
      width: 19.25rem;
      background-color: transparent;
    }

    &:not(:first-child) {
      margin-top: 1rem;

      @media (min-width: 1024px) {
        margin-top: 0;
      }
    }
  }

  &__img {
    max-height: 11.875rem;
    max-width: 13.375rem;
  }

  // 11.875

  &__card-text {
    margin-top: auto;
  }
}
