.CountdownTimer {
  margin-bottom: 1.875rem;

  &__content {
    display: flex;
  }

  &__title {
    font-weight: 600;
    font-size: 1rem;
    line-height: 26px;
    margin-bottom: 0.5rem;
  }

  &__time {
    background-color: var(--color-white);
    border-radius: 5px;
    width: 2.125rem;
    height: 2.125rem;
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
  }

  &__spacer {
    display: flex;
    align-items: center;
    padding: 0 0.25rem;
  }
}