.Category {
  position: relative;
  grid-column: 2 / 3;

  &__block {
    margin: 0 0 20px;

    border-bottom: 1.5px solid var(--color-grey);
  }

  &__svg-wrapper {
    position: absolute;
    left: calc(50% - 100px);
    max-width: 200px;
  }

  &__title {
    margin: 0 0 6px;
    padding: 50px 0 0 0;

    text-align: center;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__subtitle {
    max-width: 121px;
    margin: 0 auto;

    text-align: center;
    font-size: 12px;
    line-height: 14px;
    color: var(--color-grey-text);
  }

  &__tags-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
    margin: 20px auto;
    max-width: 230px;
  }

  &__projects-wrapper {
    display: grid;
    grid-gap: 8px;
  }

  &__block-subtitle {
    margin: 6px 0 14px 0;
    color: var(--color-grey-text);
  }
}
