.Funds {
  display: block;
  min-height: 70vh;

  &__soon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: calc(100vh - 29px - 64px - 50px - 56px - 20px);
  }
}
