@import "../../utils/breakpointsMixins.scss";

.Your-influencers {
  background-color: var(--color-grey);
  max-width: 100%;

  .card {
    padding: 12px;

    @include desktop {
      padding: 24px 30px;
      height: 100%;
    }
  }

  &__wrapper {
    display: grid;
    align-content: flex-start;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    min-height: 80vh;

    @include desktop {
      grid-template-columns: repeat(4, 1fr);
      margin: 0 auto;
      max-width: 1300px;
      min-height: 60vh;
    }
  }

  .empty-dashboard {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    min-height: 80vh;

    @include desktop {
      min-height: 75vh;
      max-width: 527px;
      margin: 30px auto 0;
    }

    p {
      color: var(--color-grey-text);
      font-weight: 600;
      text-align: center;
    }
  }
}
