@import '../../../utils/breakpointsMixins.scss';

.Influencers {
  background-color: var(--color-grey);
  max-width: 100%;

  .Button {
    margin: 16px auto 0;
  }

  .card {
    padding: 12px;
    height: 100%;

    @include desktop {
      padding: 24px 30px;
    }
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    min-height: 80vh;

    @include desktop {
      grid-template-columns: repeat(4, 1fr);
      margin: 0 auto;
      max-width: 1300px;
      min-height: calc(100vh - 68px - 29px - 60px - 50px - 56px - 20px);
    }
  }

  .load-more-btn {
    max-width: 150px;
    width: 100%;
  }

  &__err-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100%;
  }
}
