.circluar-wrapper {    
  position: relative;
  width: 58px;
  height: 58px;
  
  .CircularProgressbar-text {
    font-weight: 700;
    dominant-baseline: text-before-edge;
  }

  .talk-rate {
    position: absolute;
    top: 20px;
    left: 12px;
    font-size: 6px;
    text-transform: uppercase;
  }
}