.trending-project-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 9px 0;

  border-bottom: 1.5px solid var(--color-grey);

  &__flex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__grey-text {
    color: var(--color-grey-text);
  }

  &__icon {
    margin-right: 6px;
    width: 54px;
    height: 54px;
  }
}
