@import '../../../../utils/breakpointsMixins.scss';

.Billing {
  &__section-titles {
    &__title {
      margin: 0 0 4px;

      font-size: 18px;
      font-weight: 700;
    }
  }

  &__border-wrapper {
    display: grid;
    grid-gap: 8px;
    margin: 8px 0 0;
    padding: 8px 0;

    border-top: 1.5px solid var(--color-grey);

    &__method {
      padding: 8px 16px;
      max-width: 100%;

      border: 1px solid var(--color-sand);
      border-radius: 5px;

      @include desktop {
        max-width: 70%;
      }

      &__flex {
        display: flex;
        align-items: center;
        justify-content: space-between;

        cursor: pointer;

        &__info {
          display: flex;
          gap: 16px;
        }

        &__info.column {
          flex-direction: column;

          @include desktop {
            flex-direction: row;
          }
        }

        &__arrow {
          transition: transform ease-in 0.3s;
        }

        &__arrow.selected {
          transform: rotate(90deg);
        }
      }

      &__details {
        margin-top: 12px;
        padding: 8px 0 0;
        border-top: 1px solid var(--color-sand);
      }
    }

    &__texts {
      width: 310px;
      p {
        font-size: 14px;
        line-height: 14px;
      }
      &__title {
        margin: 0 0 4px;
        font-weight: 700;
      }
      &__subtitle {
        font-weight: 300;
        color: var(--color-grey-text);
      }

      &__title.other {
        margin: 23px 0 11px;
      }

      &__input-wrapper {
        position: relative;

        &__envelope {
          position: absolute;
          top: 13px;
          left: 8px;
        }

        &__input {
          padding: 8px 14px 8px 32px;
          width: 310px;

          border: 1px solid var(--color-sand);
          border-radius: 5px;
          font-weight: 500;
        }
      }
    }

    &__payment-details {
      display: grid;
      grid-gap: 8px;
      width: 310px;

      &__payment-type {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 11px 20px 11px 30px;

        border: 1px solid var(--color-sand);
        border-radius: 5px;

        &__card-icon {
          margin-right: 8px;
          width: 33px;
        }

        &__default {
          display: flex;
          margin-top: 11px;

          p {
            margin: 0 6px 0 0;
            color: var(--color-blue);
            font-size: 12px;
          }

          &__remove-btn {
            all: unset;
            color: var(--color-blue);
            font-size: 12px;
            font-weight: 700;
            cursor: pointer;
          }
        }
      }

      &__payment-type.selected {
        background: rgba(43, 89, 209, 0.1);
        border: 1px solid var(--color-blue);
      }
    }
  }

  .flex {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    flex-direction: column;
    gap: 16px;

    @include desktop {
      align-items: center;
      flex-direction: row;
      max-width: 70%;
      gap: 4px;
    }
  }

  .grey-text {
    color: var(--color-grey-text);
  }
}
