.SuccessBlock {
  display: flex;
  flex-direction: column;
}

.SuccessHero {
  padding: 1rem;
  background-color: #f4f4f4;
  width: 100vw;
  display: flex;
  flex-direction: column;

  @media (min-width: 1024px) {
    height: 46.25rem;
    padding: 3.75rem 1rem;
  }

  &__content {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;

    @media (min-width: 1024px) {
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
  }

  &__left {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: 1024px) {
      align-items: flex-start;
    }
  }

  &__title {
    margin: 1.25rem 0;
    display: flex;
    align-items: center;

    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;

    @media (min-width: 1024px) {
      font-style: normal;
      font-weight: 500;
      font-size: 30px;
      line-height: 36px;
    }

    img {
      margin-right: 1rem;
      width: 1.5rem;
    }
  }

  &__subtitle {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 1.625rem;
    text-align: center;

    @media (min-width: 1024px) {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      margin-bottom: 2.875rem;
      text-align: left;
    }
  }

  &__cta {
    max-width: 100%;
    width: 100%;

    @media (min-width: 1024px) {
      max-width: 14rem;
    }

    & .Button {
      margin: 0 !important;
      width: 100%;
      max-width: 100% !important;
    }
  }

  &__img {
    max-height: 35rem;
  }

  &__subcontent {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    margin-top: 5.625rem;

    & > a {
      color: #2b59d1;
    }

    @media (min-width: 1024px) {
      margin-top: 3.125rem;
    }
  }
}
