.Commitments {
  padding-top: 4.375rem;
  padding-bottom: 2.875rem;
  background-color: #F4F4F4;

  @media (min-width: 1024px) {
    padding-bottom: 4.375rem;
    background-color: transparent;
  }

  &__hero {
    margin-bottom: 3.75rem;
  }

  &__wrapper {
    display: flex;
    // justify-content: center;
    flex-direction: column;

    @media (min-width: 1024px) {
      flex-direction: row;
      align-items: flex-start;
      justify-content: center;
    }
  }

  &__card {
    padding: 1rem 1.5rem 0.5rem;
    margin: 0 2rem;
    text-align: center;

    @media (min-width: 1024px) {
      width: 22.5rem;
      margin-bottom: 0;

      &:not(:first-child) {
        margin-left: 50px;
      }
    }
  }

  &__icon {
    margin-bottom: 0.25rem;
  }

  &__name {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 0.25rem;
  }

  &__text {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: var(--color-grey-text);
    margin-bottom: 1rem;
  }


  &__cta {
    button {
      width: calc(100% - 4rem);
      margin: 0 2rem;
    }
  }
}