.project-card {
  display: block;

  .flex {
    display: flex;
    align-items: center;
    justify-content: space-around;

    padding: 0 0 16px;
    border-bottom: 1.5px solid var(--color-grey);

    .title {
      margin: 0 0 6px;
    }

    .icon {
      margin: 0 16px 0 0;
      width: 54px;
      height: 54px;
    }
  }

  .border-wrapper {
    display: block;
    padding: 8px 0;
    border-bottom: 1.5px solid var(--color-grey);

    .grey-text {
      color: var(--color-grey-text);
    }
  }
}
