@import '../../../utils/breakpointsMixins.scss';

.profile {
  background-color: var(--color-grey);

  &__wrapper {
    display: flex;
    flex-direction: column;

    padding: 40px 16px 16px;
    width: 100%;

    @include desktop {
      flex-direction: row;
      gap: 20px;

      margin: 0 auto;
      max-width: 1300px;
    }

    &__container {
      width: 100%;
    }
  }
}
