.plot-area {
  background-color: white;
  /* max-height: 500px; */
  max-height: 444px;
  height: 444px;
  /* min-height: 444px; */
  width: 100%;
  border-radius: 10px;
}

.data-area {
  display: flex;
  width: 100%;
}

.chart-area {
  max-height: 444px;

  /* min-height: 444px; */
}

.graph {
  background-color: white;
  width: 100%;
  border-radius: 10px;
}

.toggle-buttons {
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.toggle-buttons button {
  background-color: white;
  border: none;
  width: 160px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 4px 0px rgb(0, 0, 0, 0.1);
  margin: 5px;
}

.toggle-buttons #active {
  background-color: #2b59d1;
  color: white;
}

@media screen and (max-width: 780px) {
  .graph {
    background-color: #f4f4f4;
  }

  .data-area {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
  }

  .plot-area {
    background-color: #f4f4f4;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    margin-right: 0;
    margin-bottom: 50px;
  }

  .selection-window {
    background-color: white;
    height: 400px;
    width: 100%;
    margin-left: 5px;
    border-radius: 10px;
  }

  .toggle-buttons {
    /* background-color: red; */
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
  }

  .toggle-buttons button {
    /* flex: 40%; */
    margin: 5px;
    color: black !important;
  }

  .toggle-buttons #active {
    background-color: #2b59d1;
    color: white;
  }

  .selection-window {
    margin: 0;
  }
  .plot-area {
    min-height: 350px !important;
  }
  .chart-area {
    padding-bottom: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    /* height: 500px !important; */
    /* max-height: 500px !important; */
    min-height: 350px !important;
    height: 350px !important;
  }
}

@media screen and (max-width: 380px) {
  .toggle-buttons button {
    width: 130px;
    color: black !important;
  }

  .toggle-buttons #active {
    background-color: #2b59d1;
    color: white;
  }
}
