.wrapper {
  display: block;

  .flex-wrapper {
    margin: 0;
  }

  .project-card {
    display: block;
    border: none;

    .border-wrapper {
      display: block;
      padding: 8px 0;
      border-bottom: 1.5px solid var(--color-grey);

      .grey-text {
        color: var(--color-grey-text);
      }
    }

    .flex {
      display: flex;
      align-items: center;
      justify-content: space-around;

      .title {
        margin: 0 0 6px;
      }

      .icon {
        margin: 0 16px 0 0;
        width: 54px;
        height: 54px;
      }
    }

    .talk-rate-desc {
      width: calc(100% - 32px - 58px);
    }

    .small-text {
      font-size: 12px;
      line-height: 14px;
      color: var(--color-grey-text);
    }
  }
}
