.wrapper {
  display: block;

  .flex-wrapper {
    margin: 0;
  }

  .project-card {
    display: block;
    border: none;

    .border-wrapper {
      display: block;
      padding: 8px 0;
      border-bottom: 1.5px solid var(--color-grey);

      .grey-text {
        color: var(--color-grey-text);
      }
    }

    .favorites {
      width: 30px;
      height: 30px;
      cursor: pointer;
    }

    .flex {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .title {
        margin: 0 0 6px;
      }

      .icon {
        margin: 0 16px 0 0;
        width: 54px;
        height: 54px;
      }
    }

    .talk-rate-desc {
      width: calc(100% - 32px - 58px);
    }

    .small-text {
      font-size: 12px;
      line-height: 14px;
      color: var(--color-grey-text);
    }
  }

  .rate-change-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 0 6px;

    .triangle {
      margin: 0 6px 0 0;
      width: 0;
      height: 0;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-bottom: 6px solid var(--color-green);
    }

    .triangle.negative {
      border-bottom: 6px solid var(--color-red);
      transform: scaleY(-1);
    }

    p {
      font-weight: 500;
      font-size: 12px;
    }
  }
  .learn-more {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 12px 0 0;
    width: 100%;

    p {
      margin: 0 0 0 6px;

      color: var(--color-grey-text);
      font-size: 10px;
      line-height: 14px;
      text-transform: uppercase;
    }
  }
}
