@import '../../../../utils/breakpointsMixins.scss';

.wrapper {
  display: block;

  @include desktop {
    height: 100%;
  }

  .flex-wrapper {
    margin: 0;
  }

  .project-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: none;

    @include desktop {
      height: 100%;
    }

    .border-wrapper {
      display: block;
      padding: 8px 0;
      border-bottom: 1.5px solid var(--color-grey);

      .grey-text {
        color: var(--color-grey-text);
      }
    }

    .favorites {
      width: 30px;
      height: 30px;
      cursor: pointer;
    }

    .flex {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .title {
        margin: 0 0 6px;
        font-size: 1rem;

        @include desktop {
          font-size: 1.125rem;
        }
      }

      .icon {
        margin: 0 16px 0 0;
        width: 54px;
        height: 54px;
        border-radius: 50%;
      }
    }

    .talk-rate-desc {
      width: calc(100% - 32px - 58px);
    }

    .small-text {
      font-size: 11px;
      line-height: 13px;
      color: var(--color-grey-text);
    }
  }

  .rate-change-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 0 6px;

    .triangle {
      margin: 0 6px 0 0;
      width: 0;
      height: 0;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-bottom: 6px solid var(--color-green);
    }

    .triangle.negative {
      border-bottom: 6px solid var(--color-red);
      transform: scaleY(-1);
    }

    p {
      font-weight: 500;
      font-size: 12px;
    }
  }
  .learn-more {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 12px 0 0;
    width: 100%;

    p {
      margin: 0 0 0 6px;

      color: var(--color-grey-text);
      font-size: 0.625rem;
      line-height: 14px;
      text-transform: uppercase;

      @include desktop {
        color: var(--color-black);
        text-transform: none;
        font-size: 0.875rem;
        cursor: pointer;
      }
    }
  }

  .flex.icon-project {
    justify-content: flex-start;
    width: calc(100% - 110px);
  }
}
