html {
  --color-white: #ffffff;
  --color-black: #171a1f;
  --color-grey: #f4f4f4;
  --color-grey-text: #88898c;
  --color-grey-line: #dcdcdc;
  --color-grey-light: #c4c4c4;
  --color-yellow-hero: #fcf158;
  --color-light-orange: #efebe7;
  --color-electric: #9ce3df;
  --color-violet: #c378ff;
  --color-error: #fa5000;
  --color-orange-hero: #fb6e2b;
  --color-link: #2842ea;
  --color-green: #04c604;
  --color-sand: #f0ebe6;
  --color-purple: #d12bca;
  --color-blue: #2b59d1;
  --color-red: #fa5000;

  // z-index
  --z-side-menu: 110;
  --z-side-menu--overlay: 101;
  --z-header: 100;
  --z-index-disclosure: 30;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

#root,
.App {
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

.App {
  width: 100%;
}

body {
  margin: 0;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: var(--color-black);
  text-decoration: none;
}

p {
  margin: 0;
}

// UTILITIES

// screen size definitions
$screen-desk-min: 1024px;

.mobile.mobile.mobile {
  @media (min-width: 1024px) {
    display: none;
  }
}

.desktop.desktop.desktop {
  display: none;

  @media (min-width: 1024px) {
    display: block;
  }
}

// Desktop
@mixin desktop {
}
